{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "commonjs": true,
    "shared-node-browser": true
  },
  "parseOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "eol-last": 0,
    "keyword-spacing": [2, {"before": true, "after": true, "overrides": {"if": {"after": false}, "for": {"after": false}}}],
    "new-cap": 0,
    "no-restricted-globals": [2, "event"],
    "no-undef": 2,
    "no-underscore-dangle": [2, {"allowAfterThis": true}],
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-use-before-define": [2, {"functions": false, "classes": false}],
    "object-curly-spacing": [2, "never"],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "strict": 0
  }
}
